// variables
$background-color: #eee;
$text-color: #333;
$card-background: #fff;
$card-cta-background: #e26d00;
$card-cta-color: #fff;
$default-spacing: 20px;
$btn-color: #E26D00;

//Breakpoints

$small-min: 450px;
$small-max: 699px;
$medium-min: 700px;
$medium-max: 1023px;
$large: 1024px;

// padding 

$padding-15: 15px;
$padding-5: 5px;
$padding-65: 65px;
// margin

$margin-10: 10px;
$margin-20: 20px;
$margin-15: 15px;

